<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>Icefilms</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <!--<string>http://www\.icefilms\.info/ip\.php\?v=\d+</string>-->
        <!--<string>http://(www\.)?(movreel|putlocker|sockshare|180upload|billionuploads|sharebees|jumbofiles|filebox|glumbouploads|movshare)</string>-->
        <string>ss://</string>
      </array>
      <key>TestURLs</key>
      <array>
          <string>ss://procedure_from_foreign</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
